// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color: #E6E6E6;
}

#wrapper {
	background-color: lightgreen;
	border-style:solid;
	border-width:1px;
	padding: 5px 20px ;
	margin: 10px auto ;
	width: 500px;
}
#wrapper header {
	text-align: center;
}
#form {
	font-size:130%;
	text-align: center;
	width: 490px;
	border: 3px solid black;
	margin: 5px auto ;
}